body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/041/128/693/large/amanda-brotto-splash-anfitriao.jpg?1630852698");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    font-family: 'Cabin Sketch', cursive;
    font-size: 50px;
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .box {
    display: inline-table;
    width: 150px;
    max-height: 250px;
    justify-content: space-between;
  }
  
  img {
    max-height: 250px;
    margin: 0px 10px 10px 0px;
  }

  h3 {
    color: #ffffff;
    flex-wrap: wrap;
  }

  input {
    margin: 20px 4px 4px 4px;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
  }

  .wrapper-inputs {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .exibirImagem {
    display:inline-flex;
    max-width: 80vw;
    flex-wrap: wrap;
  }